
 @import 'reset.scss';
//  @import 'fonts';
 @import 'header.scss';
 @import 'range.scss';
 @import 'modal_window';
  

 body {
    font-family: 'Rubik',sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.185;
    color: #536473;
    background: #F6F9FC;
 }
 .title {
    font-family: 'Rubik',sans-serif;
    font-size: 38px;
    font-weight: 600;
    line-height: 1.185;
    color: #45515F;
    text-align: center;
 }
 .container {
    max-width: 1283px;
    padding: 0 14px;
    margin: 0 auto;
}
.button {
    display: inline-block;
    // margin: 0 auto;
    padding: 22px 44px;
    background: linear-gradient(81.55deg, #FFC83E 33.93%, #FF7347 73.78%);
    border-radius: 8px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.185;
    text-transform: uppercase;
    color: white;
}
/////////////////////////////////////// hero ///////////////////////////////////
.hero {
    padding: 100px 0 ;
    background: 
                // url('@img/hero/background__hero.png') no-repeat 56% 50%,
                url('@img/hero/background__hero_1.png') no-repeat 20% 100%,
                url('@img/hero/background__hero_2.png') no-repeat 14% 100%,
                url('@img/hero/background__hero_3.png') no-repeat 1% 100%,
                url('@img/hero/background__hero_4.png') no-repeat 0% 100%,
                url('@img/hero/background__hero_5.png') no-repeat 100% 100%,
                // linear-gradient(278.04deg, #FFC83E 31.99%, #FF9F47 81.27%);

                url('@img/hero/background__hero.png') no-repeat 56% 50%,
                url('@img/hero/background__hero_1.png') no-repeat -20px 100%,
                url('@img/hero/background__hero_2.png') no-repeat -20px 100%,
                url('@img/hero/background__hero_3.png') no-repeat 10px 100%,
                url('@img/hero/background__hero_4.png') no-repeat 0px 100%,
                url('@img/hero/background__hero_5.png') no-repeat 100% 100%,
                
                linear-gradient(278.04deg, #FFC83E 31.99%, #FF9F47 81.27%);
}
@media (max-width: 1200px) {
    .hero {
        overflow: hidden;
        background: 
                // url('@img/hero/background__hero.png') no-repeat 0% 70%/756px,
                url('@img/hero/background__hero.png') no-repeat 0% 70%,
                // url('@img/hero/background__hero_1.png') no-repeat 20%  0% / cover,
                // url('@img/hero/background__hero_2.png') no-repeat 14%  0% / cover,
                url('@img/hero/background__hero_3.png') no-repeat -650px 0% / cover,
                url('@img/hero/background__hero_4.png') no-repeat -670px 0% / cover,
                url('@img/hero/background__hero_5.png') no-repeat 70% 100% / cover,
                linear-gradient(278.04deg, #FFC83E 31.99%, #FF9F47 81.27%);
                
    }
}
@media (max-width: 830px) {
    .hero {
        padding: 100px 0 12px;
        background: 
               /* url('@img/hero/background__hero.png') no-repeat 56% 80%/756px,
                // url('@img/hero/background__hero_1.png') no-repeat 20%  100%,
                // url('@img/hero/background__hero_2.png') no-repeat 14%  100%,
                // url('@img/hero/background__hero_3.png') no-repeat -100px   100% / cover,
                // url('@img/hero/background__hero_4.png') no-repeat -100px   100% / cover,
                // url('@img/hero/background__hero_5.png') no-repeat 100% 100% / cover,
                linear-gradient(278.04deg, #FFC83E 31.99%, #FF9F47 81.27%),*/

                url('@img/hero/background__hero.png') no-repeat 5% 80%/ 756px,
                // url('@img/hero/background__hero_1.png') no-repeat 100px  100%,
                // url('@img/hero/background__hero_2.png') no-repeat 100px  100%,
                url('@img/hero/background__hero_3.png') no-repeat -750px 100% / cover,
               url('@img/hero/background__hero_4.png') no-repeat -765px 100% / cover,
                url('@img/hero/background__hero_5.png') no-repeat 70% 100% / cover,
                linear-gradient(278.04deg, #FFC83E 31.99%, #FF9F47 81.27%);
                
    }
}
.hero__wrapper {
    display: flex;
    justify-content: space-between;
    // position: relative;
}
@media (max-width: 1200px) {
    .hero__wrapper {
        flex-direction: column;
        align-items: center;
    }
}
.hero__title {
    display: inline-block;
    max-width: 477px;
}
@media (max-width: 1200px) {
    .hero__title {
        max-width: 100%;
        margin-bottom: 50px;
    }
}
.hero__title-inner {
    font-family: 'Rubik',sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 1.125;
    color: white;
    margin-bottom: 15px;
    span {
        display: inline-block;
        position: relative;
        padding: 8px 23px 8px 75px;
        text-align: right;
        font-family: 'Rubik',sans-serif;
        font-size: 22px;
        font-weight: 500;
        line-height: 1.81;
        color: #3C4260;
        background: white;
        border-radius: 12px;
        margin-bottom: 20px;
        text-transform: uppercase;
    }
    span::before {
        position: absolute;
        content: url('@img/hero/fire 1.png');
        top: -11px;
        left: 13px;
        width: 56px;
        height: 56px;
    }
}
@media (max-width: 1200px) {
    .hero__title-inner {
        max-width: 100%;
        text-align: center;
        span {
            display: block;
            max-width: 391px;
            margin: 0 auto 20px;
        }
    }
}
@media (max-width: 992px) {
    .hero__title-inner {
         font-size: 38px;
    }
}
@media (max-width: 520px) {
    .hero__title-inner {
         span {
            font-size: 18px;
            max-width: 330px;
            padding: 8px 7px 8px 48px;
         }
    }
}
@media (max-width: 520px) {
    .hero__title-inner {
         font-size: 35px;
    }
}
.hero__subtitle {
    display: block;
    font-family: 'Rubik',sans-serif;
    font-size: 27px;
    font-weight: 400;
    line-height: 1.333;
    color: white;
    margin-bottom: 110px;
}
@media (max-width: 1200px) {
    .hero__subtitle {
        max-width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
}
@media (max-width: 992px) {
    .hero__subtitle {
        font-size: 26px;
    }
}
@media (max-width: 520px) {
    .hero__subtitle {
        font-size: 19px;
    }
}
.hero__text {
    display: inline-block;
    font-family: 'Rubik',sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.428;
    color: white;
    text-align: left;
    max-width: 300px;
}
@media (max-width: 1200px) {
    .hero__text {
        display: block;
        max-width: 100%;
        text-align: center;
    }
}
.hero__items {
    position: relative;
}
@media (max-width: 1200px) {
    .hero__items {
        left: calc(50% - 27px);
        width: 100%;
    }
}
@media (max-width: 830px) {
    .hero__items {
        left: calc(50% - 219px);
        width: auto;
    }
}
@media (max-width: 767px) {
    .hero__items {
        display: inline-block;
        left: inherit;
    }
}
@media (max-width: 464px) {
    .hero__items {
        display: block;
        max-width: 428px;
        width: 100%;
        // position: relative;
    }
}
.hero__image {
    display: inline-block;
    position:absolute;
    bottom: -101px;
    left: -468px;
    pointer-events: none;
}
@media (max-width: 830px) {
    .hero__image {
        width: 521px;
        /* height: 762px; */
        bottom: -12px;
        left: -418px;
    }
}
@media (max-width: 767px) {
    .hero__image {
        display: none;
    }
}
.hero-item {
    display: inline-block;
    // position:absolute;
    // top: 0;
    // right: 0;
}
@media (max-width: 464px) {
    .hero-item {
        display: block;
        width: 100%;
        // position: relative;
    }
}
.hero-item__inner {
    width: 428px;
    // height: 582px;
    border-radius: 10px;
    background: white;
    // padding: 29px 19px 36px 28px;
    padding: 29px 19px 26px 28px;
    padding: 29px 28px 26px 28px;
}

@media (max-width: 464px) {
    .hero-item__inner {
        // max-width: 360px;
        width: 100%;
        // padding: 29px 15px 36px 15px;
    }
}
.hero-item__title {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.181;
    color: #45515F;
}
.hero-item__title.title__top {
    margin-bottom: 84px;
}
.hero-item__input_top,.hero-item__input_bottom {
    width: 100%;
    appearance: none;
    margin-bottom: 10px;
}
.hero-item__inner .hero-item__input_top::-webkit-slider-thumb,
.hero-item__inner .hero-item__input_bottom::-webkit-slider-thumb {
    // position: absolute;
    // content: '';
    appearance: none;
    // top: 0px;
    // left: 0px;
    margin-top: -6px;
    width: 21px;
    height: 21px;
    background:  url('@img/hero/hero_thumb_background/background_thumb_1.svg') no-repeat 80% 50% / 6px,
                 url('@img/hero/hero_thumb_background/background_thumb_2.svg') no-repeat 20% 50% / 6px,
                 #FFA147;
    border-radius: 50%;
}
.hero-item__input_top::-webkit-slider-runnable-track,
.hero-item__input_bottom::-webkit-slider-runnable-track {
    width: 100%;
    height: 7px;
    background: linear-gradient(81.55deg, #FFC83E 33.93%, #FF9F47 73.78%);
    background: #ECECEC;
    border-radius: 8px;position: relative;
}
.hero-item__input_top::-webkit-slider-runnable-track::after {
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
}
.hero-item__subtitles {
    display: flex;
    justify-content: space-between;
}
.hero-item__subtitles.subtitles__top{
    margin-bottom: 43px;
}
.hero-item__subtitle {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.153;
    color: #C0C2C5;
}
.hero-item__title.title__bottom {
    margin-bottom: 59px;
}
.hero-item__subtitles.subtitles__bottom {
    margin-bottom: 50px;
}
.hero-item__button-wrapper {
    text-align: center;
    margin-bottom: 43px;
}
.hero-item__button {
    padding: 22px 40px;
}
.hero-item__items-wrapper {
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
}
@media (max-width: 767px) {
    .hero-item__items-wrapper {
        padding-left: 0px;
    }
}
@media (max-width: 400px) {
    .hero-item__items-wrapper {
        margin: 0 -20px
    }
}
.hero-item__items {
    display: flex;
    flex-direction: column;
}
.hero-item__item {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.214;
    color: #45515F;
    margin-bottom: 14px;
}
.hero-item__item>span {
    display: block;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.166;
    color: #F28925;
    margin-top: 2px;
}
////////////////////////////////// offer /////////////////////////////////////

.offer {
    padding: 49px 0px 22px;
    background: #F6F9FC;
}
.offer__title {
    margin-bottom: 36px;
}
.offer__cards {
    display: flex;
    margin: 0px -14px;
    margin-bottom: 33px;
}
@media (max-width: 1264px) {
    .offer__cards {
        // flex-direction: column;
        // align-items: center;
        margin: 0;
        display: block;
    }
}
.offer__card {
    // display: inline-block;
    position: relative;
    flex: 0 1 33.333%;
    max-width: 408px;
    padding: 36px 57px 36px 57px;
    margin: 0px 14px;
    background: white;
    border-radius: 22px;
    overflow: hidden;
}
@media (max-width: 1285px) {
    .offer__card {
        padding: 36px 50px 36px 50px;
    }
}
@media (max-width: 1264px) {
    .offer__card {
        margin: 14px auto;
    }
}
@media (max-width: 430px) {
    .offer__card {
        margin: 14px 0px;
        padding: 36px 7% 36px 15%;
    }
}
@media (max-width: 410px) {
    .offer__card {
        padding: 36px 7% 36px 7%;
    }
}
.offer__card-ribbon {
    position: absolute;
    top: 15px;
    left: -22px;
    height: 21.48px;
    width: 93.37px;
    text-align: center;
    transform: rotate(-45deg);
    font-family: 'Rubik',sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.82;
    color: white;
    text-transform: uppercase;
}
.offer__card:nth-child(1) .offer__card-ribbon {
    background: #FFC83E;
}
.offer__card:nth-child(2) .offer__card-ribbon {
    background: #FF7B00;
}
.offer__card:nth-child(3) .offer__card-ribbon {
    background: #FA5914;
}
.offer__card-title {
    font-family: 'Rubik',sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.185;
    color: #45515F;
}
.offer__card:nth-child(1) .offer__card-title span {
    color: #FFC83E;
}
.offer__card:nth-child(2) .offer__card-title span {
    color: #FF7B00;
}
.offer__card:nth-child(3) .offer__card-title span {
    color: #FA5914;
}
.offer__card-item {
    position: relative;
    left: 20px;
    font-family: 'Rubik',sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.82;
    span {
        font-weight: 500;
        color: #45515F;
    }
}
.offer__card-item::before {
    position: absolute;
    content: url('@img/offer/Ruble_symbol.png');
    top: 0px;
    left: -16px;
    width: 12px;
    height: 11px;
}
.offer__card-item.card-item__calendar::before {
    position: absolute;
    content: url('@img/offer/calendar.png');
    top: 0px;
    left: -16px;
    width: 12px;
    height: 11px;
}
.offer__text {
    
    font-family: 'Rubik',sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.461;
    color: #45515F;
    text-align: center;
    padding-bottom: 51px;
    border-bottom: 1px solid rgba(69, 81, 95, 0.05);
}
///////////////////////////////////////////// money ////////////////////////////////////////
.money {
    padding: 22px 0px 45px;
    background: #F6F9FC;
    // background: lightblue;

}
.money__title {
    margin-bottom: 72px;
}
.money__wrapper {
    text-align: center;
}
.money__wrapper-inner {
    overflow: hidden;
    display: flex;
    margin-bottom: 44px;
}

@media (max-width: 600px) {
    .money__wrapper-inner {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        display: inline-flex;
        padding: 40px 0px;
    }
}
.money__items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1 25%;
}
@media (max-width: 600px) {
    .money__items {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex: 0 0 auto;
        margin-bottom: 72px;
    }
    .money__items:last-child {
        margin-bottom: 0px;
    }
}
.money__items:nth-child(1) {
    position: relative;
    z-index: 4;
}
.money__items:nth-child(2) {
    position: relative;
    z-index: 3;
}
.money__items:nth-child(3) {
    position: relative;
    z-index: 2;
}
.money__items:nth-child(4) {
    position: relative;
    z-index: 1;
}
.money__image {
    margin-bottom: 10px;
    width: 67px;
    height: 77px;
}
@media (max-width: 600px) {
    .money__image {
        margin-bottom: 0px;
        margin-right: 20px;
        margin-left: 10px;
        flex: 0 0 auto;
    }
}
.money__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    border-radius: 50%;
    background: rgb(247, 151, 9);
    margin-bottom: 21px;
}
@media (max-width: 600px) {
    .money__item { 
        margin-bottom: 0px;
        margin-right: 20px;
        flex: 0 0 auto;
    }
}
.money__items:nth-child(n+2) .money__item {
    background: white;
    color: #D6D3D3;
}
.money__item::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 1px;
    transform: translate(-100%, -50%);
    width: 300px;
    height: 7px;
    background: linear-gradient(81.55deg, #FFC83E 33.93%, #FF9F47 73.78%);
}

.money__items:nth-child(4) .money__item::after {
    position: absolute;
    content: "";
    top: 50%;
    right: 0;
    transform: translate(100%, -50%);
    width: 500px;
    height: 7px;
    background: rgb(247, 151, 9);
    background: white;
}
.money__items:nth-child(n+2) .money__item::before {
    background: white;
    height: 9px;
}
@media (max-width: 600px) {
    .money__item::before {
        top: 1px;
        left: 50%;
        transform: translate(-50%,-100%);
        width: 7px;
        height: 300px;
    }
    .money__items:nth-child(n+2) .money__item::before {
        background: white;
        height: 300px;
    }
    .money__items:nth-child(4) .money__item::after {
        bottom: -1px;
        right: 50%;
        transform: translate(50%,5%);
        width: 7px;
        height: 300px;
    }
}
.money__button-wrapper {
    text-align: center;
}
.money__texts {
    display: flex;
    justify-content: space-around;
    
}
.money__text {
    font-size: 18px;
    font-weight: 300;
    max-width: 248px;
    color: #45515F;
    text-align: center;
    
}
@media (max-width: 600px) {
    .money__text {
        text-align: left;
    }
}
///////////////////////////////////////// ways //////////////////////////////////////
.ways {
    padding: 55px 0px 46px;
    background: rgba(255, 255, 255, 0.95);
}
.ways__container {
    max-width: 840px;
    max-width: 868px;
    padding: 0 14px;
    margin: 0 auto;
}
.ways__title {
    margin-bottom: 14px;
}
.ways__text {
    font-size: 13px;
    font-weight: 300;
    line-height: 1.455;
    text-align: center;
    margin-bottom: 44px;
}
.ways__images {
    display: flex;
    justify-content: center;
    margin-bottom: 31px;
}
@media (max-width: 767px) {
    .ways__images {
        flex-wrap: wrap;
    }
}
.ways__image {
    display: inline-flex;
    // flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 17px;
    background: #F6F9FC;
    width: 140px;
    height: 133px;
}
@media (max-width: 992px) {
    .ways__image {
        height: 121px;
    }
}
@media (max-width: 767px) {
    .ways__image {
        max-width: calc((100% - 102px) / 3);
        width: 100%;
        height: 20vw;
    }
}
.ways__button-wrapper {
    text-align: center;
}
///////////////////////////////////////////// why ///////////////////////////////////////////
.why {
    padding: 65px 0 38px;
}
.why__title {
    margin-bottom: 43px;
}
.why__cards {
    display: flex;
    justify-content: center;
    margin: 0px -14px 35px -14px;
}
.why__card {
    flex: 1 1 33.333%;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 4px 44px rgba(84, 104, 123, 0.05);
    border-radius: 20px;
    padding: 51px 43px 47px 44px;
    margin: 0px 14px;
    max-width: 408px;
}
@media (max-width: 1000px) {
    .why__card {
        flex: 1 1 50%;
        padding: 51px 29px 47px 27px;
        max-width: 377px;
    }
    .why__card:nth-child(3) {
        display: none;
    }
}
@media (max-width: 667px) {
    .why__card {
        flex: 1 1 50%;
        padding: 31px 23px 41px 16px;
        max-width: 360px;
    }
    .why__card:nth-child(2n) {
        display: none;
    }
}
.why__card-image {
    margin-bottom: 26px;
}
.card__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.166;
    color: #45515F;
    margin-bottom: 19px;
}
.card__subtitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 17px;
    color: #93A0AB;
}
.card__subtitle img {
    margin-right: 8px;
}
.card__text {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.187;
    margin-bottom: 27px;
    color: #536473;
    max-width: 321px;
}
.why__button-wrapper {
    text-align: center;
}
@media (max-width: 667px) {
    .why__button-wrapper {
        max-width: 300px;
        margin: 0 auto;
    }
    .why__button {
        margin-bottom: 13px;
    }
}
.why__button-reviews {
    border: 1px solid #C9D2DD;
    background: transparent;
    color: #45515F;
    margin-left: 10px;
}
@media (max-width: 667px) {
    .why__button-reviews {
        margin-left: 0px;
    }
}
/////////////////////////////////////////// clients ////////////////////////////////////////
.clients {
    padding: 57px 0px 59px;
    background: url('@img/clients/background_clients.png') no-repeat 50% 50%;
}
@media (max-width: 1225px) {
    .clients {
        background: url('@img/clients/background_clients.png') no-repeat 30% 50%;
    }
}
@media (max-width: 710px) {
    .clients {
        background: url('@img/clients/background_clients.png') no-repeat 22% 50%;
    }
}
.clients__title {
    color: white;
    margin-bottom: 37px;
}
.clients__items {
    display: flex;
    justify-content: center;
    margin: 0 -13.5px
}
.clients__item {
    display: flex;
    align-items: center;
    flex: 1 1 33.333%;
    max-width: 408px;
    margin: 0 13.5px;
    padding: 26px 31px;
    border-radius: 22px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 4px 44px rgba(84, 104, 123, 0.05);
}
@media (max-width: 1230px) {
    .clients__item {
    flex: 1 1 50%;
   }
}
@media (max-width: 710px) {
    .clients__item {
    flex: 1 1 100%;
   }
}
@media (max-width: 1230px) {
    .clients__item:nth-child(3n) {
        display: none;
    }
}

@media (max-width: 710px) {
    .clients__item:nth-child(2n) {
        display: none;
    }
}
.clients__item-img {
    margin-right: 24px;
}
.clients__item-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.187;
    color: #45515F;
    margin-bottom: 6px;
}
.clients__item-text {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.187;
    margin-bottom: 8px;
}
.clients__item-text:last-child {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2;
    color: #93A0AB;
}
.item-text__img {
    margin-right: 8px;
}
////////////////////////////////////////////// service ////////////////////////////////////////
.service {
    padding: 56px 0px 72px;
    background: rgba(255, 255, 255, 0.95);
}
@media (max-width: 768px) {
    .service {
        padding: 57px 0px 48px;
    }
}
@media (max-width: 600px) {
    .service {
        padding: 41px 0px 26px;
    }
}
.service__title {
    margin-bottom: 43px;
}
.service__wrapper {
    display: flex;
    justify-content: center;
    margin: 0 -14px;
}
@media (max-width: 1100px) {
    .service__wrapper {
        flex-direction: column;
        align-items: center;
    }
}
.service__item {
    max-width: 625px;
    margin: 0 14px;
    padding: 44px 45px 44px 48px;
    background: rgba(255, 255, 255, 0.95);
    border: 1px solid #F8EBEB;
    box-shadow: 0px 4px 44px rgba(84, 104, 123, 0.05);
    border-radius: 22px;
}
@media (max-width: 1100px) {
    .service__item {
        margin-bottom: 30px;
    }
    .service__item:last-child {
        margin-bottom: 0px;
    }
}
@media (max-width: 768px) {
    .service__item {
        max-width: 100%;
    }
}
@media (max-width: 600px) {
    .service__item {
        padding: 34px 26px 41px 27px;
    }
}
.service__item-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.166;
    color: #45515F;
    margin-bottom: 31px;
}
.service__item-text p {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.187;
    color: #536473;
}
.service__item-text p:nth-child(1),
.service__item-text p:nth-child(2) {
    margin-bottom: 25px;
}
///////////////////////////////////// FAQ ////////////////////////////////////////////
.FAQ {
    padding: 59px 0px 69px;
}
.FAQ__title {
    margin-bottom: 37px;
}
.FAQ__item {
    padding: 21px 127px 28px 33px;
    background: white;
    border-radius: 12px;
    margin-bottom: 4px;
    transition: background-color 0.4s linear;
}
@media (max-width: 768px) {
    .FAQ__item {
        padding: 21px 75px 28px 33px;
    }
}
@media (max-width: 500px) {
    .FAQ__item {
        padding: 21px 25px 28px 12px;
        background: white;
    }
}
.FAQ__item.active {
    background: linear-gradient(268.87deg, #FFC83E -5.09%, #FF7347 51.96%);
}
.FAQ__item-title {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    color: #45515F;
}
@media (max-width: 500px) {
    .FAQ__item-title {
        font-size: 16px;
    }
}
.FAQ__item.active .FAQ__item-title {
    // margin-bottom: 17px;
    color: white;
}
.FAQ__item-title::after {
    position: absolute;
    content: "";
    top: 50%;
    right: -85px;
    transform: translate(0%, -50%) rotate(-45deg);
    border-bottom: 3px solid #031D69;
    border-left: 3px solid #031D69;
    width: 10px;
    height: 10px;
    transition: .3s;
}
@media (max-width: 768px) {
    .FAQ__item-title::after {
        right: -40px;
    }
}
@media (max-width: 500px) {
    .FAQ__item-title::after {
        right: -12px;
    }
}
.FAQ__item.active .FAQ__item-title::after {
    transform: rotate(-225deg);
    border-bottom-color: white;
    border-left-color: white;
}

.FAQ__item-text {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.187;
    color: white;
    color: black;
    max-height: 0px;
    overflow: hidden;
    transition: .2s linear;
}

.FAQ__item.active .FAQ__item-text {
    margin-top: 17px;
    max-height: none;
}
/////////////////////////////////// get /////////////////////////////////////////
.get {
    padding: 61px 0px 0px;
    background: white;
    // background: url('@img/get/image_2.png') no-repeat 50% 100%;
}
@media (max-width: 1100px) {
    .get {
        background: url('@img/get/image_2.png') no-repeat 50% 100%;
    }
}
.get__wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
}
@media (max-width: 1100px) {
    .get__wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
    }
}
@media (max-width: 1100px) {
    .get__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // position: relative;
    }
}
.get__title {
    font-size: 38px;
    font-weight: 600;
    line-height: 1.184;
    color: #45515F;
    margin-bottom: 26px;
    text-align: center;
}
.get__text {
    font-weight: 400;
    font-size: 27px;
    line-height: 1.335;
    color: #536473;
    margin-bottom: 26px;
    // max-width: 475px;
}
.get__text:last-of-type {
    margin-top: -22px;
}
@media (max-width: 1100px) {
    .get__text {
        text-align: center;
    }
}
.get__button {
    margin-bottom: 50px;
}
@media (max-width: 1100px) {
        .get__button {
            margin-bottom: 0px;
        }
}
.get__image {
    position: absolute;
    bottom: 0;
    right: 0%;
    background: url('@img/get/image_2.png') no-repeat 70% 100%;
}
@media (max-width: 1100px) {
    .get__image {
        position: inherit;
        width: 633px;
        height: 422px;
        background: none;
        
    }
}
//////////////////////////////////////// footer ////////////////////////////////////
.footer {
    padding: 50px 0px 41px;
    // background-image: url('@img/footer/footer_image.jpg'),linear-gradient(280.77deg, #FFC83E 10.43%, #FF9F47 82.11%);
    background:  url('@img/footer/footer.png') no-repeat 0% 0% ,
    linear-gradient(280.77deg, #FFC83E 10.43%, #FF9F47 82.11%);
    // background-color: linear-gradient(280.77deg, #FFC83E 10.43%, #FF9F47 82.11%);
}
@media (max-width: 1200px) {
    .footer {
        background:  url('@img/footer/vector.png') no-repeat 0% 100%,
        linear-gradient(280.77deg, #FFC83E 10.43%, #FF9F47 82.11%);
    }
}
.footer__header-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 61px;
}
.footer__header-wrapper::after {
    position:absolute;
    content: '';
    bottom: -38px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
}
@media (max-width: 1200px) {
    .footer__header-wrapper::after {
        bottom: -22px;
    }
    .footer__header-wrapper::before {
        position:absolute;
        content: '';
        top: 55px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        width: 100%;
    }
}
@media (max-width: 1100px) {
    .footer__header-wrapper::after {
        bottom: -5px;
    }
}
@media (max-width: 667px) {
    .footer__header-wrapper::after,.footer__header-wrapper::before {
        width: 0;
    }
}
.footer__logo {
    // margin: 0px auto 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 1200px) {
    .footer__logo {
        margin: 0px 63px 50px 0px;
    }
}
@media (max-width: 667px) {
    .footer__logo {
        margin: 0px auto 12px 0px;
        width: 100%;
    }
}
.footer__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    order: 1;
    width: 496px;
}
@media (max-width: 1200px) {
    .footer__nav {
        margin: 0 auto;
        order: 2;
        // width: 505px;
        width: 100%;
    }
    
}
@media (max-width: 667px) {
    .footer__nav::before{
        position:absolute;
        content: '';
        top: 126px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        width: 100%;
    }
    .footer__nav::after {
        position:absolute;
        content: '';
        bottom: -3px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        width: 100%;
    }
}
.footer__nav-list {
    display: flex;
    justify-content: space-between;
    // width: 471px;
    margin: auto;
}
@media (max-width: 1100px) {
    .footer__nav-list {
        margin: 0 auto 20px;
    }
}
@media (max-width: 500px) {
    .footer__nav-list {
        justify-content: center;
        margin: 0 auto 20px;
    }
}
.footer__nav-item {
    margin: 0px 20px;
}
@media (max-width: 500px) {
    .footer__nav-item {
        margin: 0px 10px;
    }
}
@media (max-width: 401px) {
    .footer__nav-item {
        margin: 0px 3px;
    }
}
.footer__nav-item a {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.166;
    color: #FFFFFF;
}
@media (max-width: 500px) {
    .footer__nav-item a {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.187;
        color: #FFFFFF;
    }
}
.footer__contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 2;
}
@media (max-width: 1200px) {
    .footer__contacts {
        // margin: 0 auto;
        margin-right: 0;
        // margin-left: 63px;
        margin-bottom: 50px;
        order: 1;
    }
}
@media (max-width: 667px) {
    .footer__contacts {
        width: 100%;
        flex-direction: column-reverse;
    }
}
.footer__link-email {
    display: flex;
    align-items: center;
    margin-right: 50px;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.153;
    color: #FFFFFF;
}
@media (max-width: 1200px) {
    .footer__link-email { 
        margin-right: 20px;
    }
}
.link-email {
    display: flex;
    align-items: center;
}
.link-email__img {
    margin-right: 15px;
}
.footer__link-phone {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.181;
    color: #FFFFFF;
}
@media (max-width: 667px) {
    .footer__link-phone {
        margin-bottom: 15px;
    }
}
.link-phone {
    display: flex;
    align-items: center;
}
.link-phone__img {
    margin-right: 10px;
}
.footer__item-title_top {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 23px;
}
.footer__item-text_top {
    position: relative;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.153;
    color: #FFFFFF;
    margin-bottom: 48px;
}
@media (max-width: 1200px) {
    .footer__item-text_top::after {
        position:absolute;
        content: '';
        bottom: -28px;
        left: 0px;
        // max-width: 478px;
        width: 100%;
        // width: 39.83%;
        border: 1px solid rgba(255, 255, 255, 0.2);
    }
}

.footer__items_middle {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 27px;
}
@media (max-width: 1200px) {
    .footer__items_middle {
        flex-wrap: wrap;
    }
}
.footer__items_middle::before {
    position:absolute;
    content: '';
    top: 0px;
    left: 0px;
    // max-width: 478px;
    // width: 100%;
    width: 35.83%;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.footer__items_middle::after {
    position:absolute;
    content: '';
    bottom: 0px;
    left: 0px;
    // max-width: 478px;
    // width: 100%;
    width: 35.83%;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
@media (max-width: 1200px) {
    .footer__items_middle::before,.footer__items_middle::after {
        width: 0px;
    }
}
.footer__title_middle {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.166;
    color: #FFFFFF;
    max-width: 118px;
    text-align: left;
    // margin-left: 37px;
}
@media (max-width: 1200px) {
    .footer__title_middle {
        margin-bottom: 41px;
    }
}
@media (max-width: 480px) {
    .footer__title_middle {
        max-width: 100%;
        text-align: center;
        margin-bottom: 19px;
    }
}
@media (max-width: 480px) {
    .footer__title_middle {
        width: 100%;
        justify-content: center;
        margin-bottom: 36px;
    }
}
.footer__images_middle {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 37px;
}
@media (max-width: 1200px) {
    .footer__images_middle {
        margin-bottom: 41px;
    }
}
@media (max-width: 480px) {
    .footer__images_middle {
        width: 100%;
        justify-content: center;
        margin:0px auto 36px;
    }
}
.footer__text_middle {
    width: 61.33%;
    padding: 33px 43px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.166;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    min-height: 86px;
    text-align: center;
}
.footer__text_middle span {
    border-bottom: 1px solid white;
}
@media (max-width: 1200px) {
    .footer__text_middle {
        width: 100%;
    }
}
.footer__title_bottom {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.166;
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 23px;
}
.footer__text_bottom {
    position: relative;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.153;
    color: #FFFFFF;
    margin-bottom: 57px;
}
.footer__text_bottom p:first-child {
    margin-bottom: 23px;
}
.footer__text_bottom::after {
    position: absolute;
    content: '';
    bottom: -39px;
    left: 0px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.footer__footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 1100px) {
    .footer__footer-wrapper {
        flex-direction: column;
    }
}

.footer__footer-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 1100px) {
    .footer__footer-image {
        margin-bottom: 33px;
    }
}
@media (max-width: 667px) {
    .footer__footer-image {
        flex-direction: column;
    }
}
.footer__footer-image>p {
    margin-right: 5px;
}
.footer__footer-img {
    margin-right: 28px;
}
@media (max-width: 667px) {
    .footer__footer-img {
        margin-bottom: 21px;
    }
}
.footer__footer-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.166;
    color: #FFFFFF;
}
.footer__footer-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    max-width: 340px;
    width: 100%;
}
@media (max-width: 1100px) {
    .footer__footer-social {
        margin-right: inherit;
    }
}
.footer__footer-button.button {
    background: transparent;
    border: 1px solid white;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    padding: 14px 28px;
    color: #FEFEFE;
}
.footer__footer-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}