
 @import 'reset.scss';
//  @import 'fonts';
 @import 'header.scss';
  

 body {
    font-family: 'Rubik',sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.185;
    color: #536473;
    background: #F6F9FC;
 }
 .title {
    font-family: 'Rubik',sans-serif;
    font-size: 38px;
    font-weight: 600;
    line-height: 1.185;
    color: #45515F;
    text-align: center;
 }
 .container {
    max-width: 1283px;
    padding: 0 14px;
    margin: 0 auto;
}
.button {
    display: inline-block;
    // margin: 0 auto;
    padding: 22px 44px;
    background: linear-gradient(81.55deg, #FFC83E 33.93%, #FF7347 73.78%);
    border-radius: 8px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.185;
    text-transform: uppercase;
    color: white;
}
/////////////////////////////////////// hero ///////////////////////////////////
.hero {
    padding: 100px 0 ;
    background: url('@img/hero/background__hero.png') no-repeat 56% 50%,
                url('@img/hero/background__hero_1.png') no-repeat 20% 100%,
                url('@img/hero/background__hero_2.png') no-repeat 14% 100%,
                url('@img/hero/background__hero_3.png') no-repeat 1% 100%,
                url('@img/hero/background__hero_4.png') no-repeat 0% 100%,
                url('@img/hero/background__hero_5.png') no-repeat 100% 100%,
                // linear-gradient(278.04deg, #FFC83E 31.99%, #FF9F47 81.27%);

                url('@img/hero/background__hero.png') no-repeat 56% 50%,
                url('@img/hero/background__hero_1.png') no-repeat -20px 100%,
                url('@img/hero/background__hero_2.png') no-repeat -20px 100%,
                url('@img/hero/background__hero_3.png') no-repeat -20px 100%,
                url('@img/hero/background__hero_4.png') no-repeat -20px 100%,
                url('@img/hero/background__hero_5.png') no-repeat 100% 100%,
                linear-gradient(278.04deg, #FFC83E 31.99%, #FF9F47 81.27%);
}
@media (max-width: 1200px) {
    .hero {
        overflow: hidden;
        background: url('@img/hero/background__hero.png') no-repeat 56% 50%/756px,
                url('@img/hero/background__hero_1.png') no-repeat 20%  100%,
                url('@img/hero/background__hero_2.png') no-repeat 14%  100%,
                url('@img/hero/background__hero_3.png') no-repeat -100px   100%,
                url('@img/hero/background__hero_4.png') no-repeat -100px   100%,
                url('@img/hero/background__hero_5.png') no-repeat 100% 100%,
                linear-gradient(278.04deg, #FFC83E 31.99%, #FF9F47 81.27%);
                
    }
}
@media (max-width: 830px) {
    .hero {
        padding: 100px 0 12px;
        background: 
                url('@img/hero/background__hero.png') no-repeat 56% 80%/756px,
                url('@img/hero/background__hero_1.png') no-repeat 20%  100%,
                url('@img/hero/background__hero_2.png') no-repeat 14%  100%,
                url('@img/hero/background__hero_3.png') no-repeat -100px   100%,
                url('@img/hero/background__hero_4.png') no-repeat -100px   100%,
                url('@img/hero/background__hero_5.png') no-repeat 100% 100%,
                linear-gradient(278.04deg, #FFC83E 31.99%, #FF9F47 81.27%);
                
    }
}
@media (max-width: 830px) {
    .hero {
        // background: url('@img/hero/background__hero.png') no-repeat 56% 80%/0px;
    }
}
.hero__wrapper {
    display: flex;
    justify-content: space-between;
    // position: relative;
}
@media (max-width: 1200px) {
    .hero__wrapper {
        flex-direction: column;
        align-items: center;
    }
}
.hero__title {
    display: inline-block;
    max-width: 477px;
}
@media (max-width: 1200px) {
    .hero__title {
        max-width: 100%;
        margin-bottom: 50px;
    }
}
.hero__title-inner {
    font-family: 'Rubik',sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 1.125;
    color: white;
    margin-bottom: 15px;
    span {
        display: inline-block;
        position: relative;
        padding: 8px 23px 8px 75px;
        text-align: right;
        font-family: 'Rubik',sans-serif;
        font-size: 22px;
        font-weight: 500;
        line-height: 1.81;
        color: #3C4260;
        background: white;
        border-radius: 12px;
        margin-bottom: 20px;
        text-transform: uppercase;
    }
    span::before {
        position: absolute;
        content: url('@img/hero/fire 1.png');
        top: -11px;
        left: 10px;
        width: 56px;
        height: 56px;
    }
}
@media (max-width: 1200px) {
    .hero__title-inner {
        max-width: 100%;
        text-align: center;
        span {
            display: block;
            max-width: 391px;
            margin: 0 auto 20px;
        }
    }
}
@media (max-width: 992px) {
    .hero__title-inner {
         font-size: 38px;
    }
}
@media (max-width: 520px) {
    .hero__title-inner {
         span {
            font-size: 18px;
            max-width: 330px;
         }
    }
}
@media (max-width: 520px) {
    .hero__title-inner {
         font-size: 35px;
    }
}
.hero__subtitle {
    display: block;
    font-family: 'Rubik',sans-serif;
    font-size: 27px;
    font-weight: 400;
    line-height: 1.333;
    color: white;
    margin-bottom: 110px;
}
@media (max-width: 1200px) {
    .hero__subtitle {
        max-width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
}
@media (max-width: 992px) {
    .hero__subtitle {
        font-size: 26px;
    }
}
@media (max-width: 520px) {
    .hero__subtitle {
        font-size: 19px;
    }
}
.hero__text {
    display: inline-block;
    font-family: 'Rubik',sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.428;
    color: white;
    text-align: left;
    max-width: 300px;
}
@media (max-width: 1200px) {
    .hero__text {
        display: block;
        max-width: 100%;
        text-align: center;
    }
}
.hero__items {
    position: relative;
}
@media (max-width: 1200px) {
    .hero__items {
        left: calc(50% - 27px);
        width: 100%;
    }
}
@media (max-width: 830px) {
    .hero__items {
        left: calc(50% - 219px);
        width: auto;
    }
}
@media (max-width: 788px) {
    .hero__items {
        display: inline-block;
        left: inherit;
    }
}
@media (max-width: 464px) {
    .hero__items {
        display: block;
        max-width: 428px;
        width: 100%;
        // position: relative;
    }
}
.hero__image {
    display: inline-block;
    position:absolute;
    bottom: -101px;
    left: -468px;
    
}
@media (max-width: 830px) {
    .hero__image {
        width: 534px;
        /* height: 762px; */
        bottom: -11px;
        left: -422px;
    }
}
@media (max-width: 788px) {
    .hero__image {
        display: none;
    }
}
.hero__item {
    display: inline-block;
    // position:absolute;
    // top: 0;
    // right: 0;
}
@media (max-width: 464px) {
    .hero__item {
        display: block;
        width: 100%;
        // position: relative;
    }
}
.hero__item-inner {
    width: 428px;
    height: 582px;
    border-radius: 10px;
    background: white;
}
@media (max-width: 464px) {
    .hero__item-inner {
        // max-width: 360px;
        width: 100%;
    }
}
////////////////////////////////// offer /////////////////////////////////////

.offer {
    padding: 49px 0px 22px;
    background: #F6F9FC;
}
.offer__title {
    margin-bottom: 36px;
}
.offer__cards {
    display: flex;
    margin: 0px -14px;
    margin-bottom: 33px;
}
@media (max-width: 1264px) {
    .offer__cards {
        // flex-direction: column;
        // align-items: center;
        margin: 0;
        display: block;
    }
}
.offer__card {
    // display: inline-block;
    position: relative;
    flex: 0 1 33.333%;
    max-width: 408px;
    padding: 36px 57px 36px 57px;
    margin: 0px 14px;
    background: white;
    border-radius: 22px;
    overflow: hidden;
}
@media (max-width: 1285px) {
    .offer__card {
        padding: 36px 50px 36px 50px;
    }
}
@media (max-width: 1264px) {
    .offer__card {
        margin: 14px auto;
    }
}
@media (max-width: 430px) {
    .offer__card {
        margin: 14px 0px;
        padding: 36px 7% 36px 15%;
    }
}
@media (max-width: 410px) {
    .offer__card {
        padding: 36px 7% 36px 10%;
    }
}
.offer__card-ribbon {
    position: absolute;
    top: 15px;
    left: -22px;
    height: 21.48px;
    width: 93.37px;
    text-align: center;
    transform: rotate(-45deg);
    font-family: 'Rubik',sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.82;
    color: white;
    text-transform: uppercase;
}
.offer__card:nth-child(1) .offer__card-ribbon {
    background: #FFC83E;
}
.offer__card:nth-child(2) .offer__card-ribbon {
    background: #FF7B00;
}
.offer__card:nth-child(3) .offer__card-ribbon {
    background: #FA5914;
}
.offer__card-title {
    font-family: 'Rubik',sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.185;
    color: #45515F;
}
.offer__card:nth-child(1) .offer__card-title span {
    color: #FFC83E;
}
.offer__card:nth-child(2) .offer__card-title span {
    color: #FF7B00;
}
.offer__card:nth-child(3) .offer__card-title span {
    color: #FA5914;
}
.offer__card-item {
    position: relative;
    left: 20px;
    font-family: 'Rubik',sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.82;
    span {
        font-weight: 500;
        color: #45515F;
    }
}
.offer__card-item::before {
    position: absolute;
    content: url('@img/offer/Ruble_symbol.png');
    top: 0px;
    left: -16px;
    width: 12px;
    height: 11px;
}
.offer__card-item.card-item__calendar::before {
    position: absolute;
    content: url('@img/offer/calendar.png');
    top: 0px;
    left: -16px;
    width: 12px;
    height: 11px;
}
.offer__text {
    
    font-family: 'Rubik',sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.461;
    color: #45515F;
    text-align: center;
    padding-bottom: 51px;
    border-bottom: 1px solid rgba(69, 81, 95, 0.05);
}
///////////////////////////////////////////// money ////////////////////////////////////////
.money {
    padding: 22px 0px 45px;
    background: #F6F9FC;
    // background: lightblue;

}
.money__title {
    margin-bottom: 72px;
}
.money__wrapper {
    text-align: center;
}
.money__wrapper-inner {
    overflow: hidden;
    display: flex;
    margin-bottom: 44px;
}

@media (max-width: 600px) {
    .money__wrapper-inner {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        display: inline-flex;
        padding: 40px 0px;
    }
}
.money__items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1 25%;
}
@media (max-width: 600px) {
    .money__items {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex: 0 0 auto;
        margin-bottom: 72px;
    }
    .money__items:last-child {
        margin-bottom: 0px;
    }
}
.money__items:nth-child(1) {
    position: relative;
    z-index: 4;
}
.money__items:nth-child(2) {
    position: relative;
    z-index: 3;
}
.money__items:nth-child(3) {
    position: relative;
    z-index: 2;
}
.money__items:nth-child(4) {
    position: relative;
    z-index: 1;
}
.money__image {
    margin-bottom: 10px;
    width: 67px;
    height: 77px;
}
@media (max-width: 600px) {
    .money__image {
        margin-bottom: 0px;
        margin-right: 20px;
        margin-left: 10px;
        flex: 0 0 auto;
    }
}
.money__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    border-radius: 50%;
    background: rgb(247, 151, 9);
    margin-bottom: 21px;
}
@media (max-width: 600px) {
    .money__item { 
        margin-bottom: 0px;
        margin-right: 20px;
        flex: 0 0 auto;
    }
}
.money__items:nth-child(n+2) .money__item {
    background: white;
    color: #D6D3D3;
}
.money__item::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 1px;
    transform: translate(-100%, -50%);
    width: 300px;
    height: 7px;
    background: linear-gradient(81.55deg, #FFC83E 33.93%, #FF9F47 73.78%);
}

.money__items:nth-child(4) .money__item::after {
    position: absolute;
    content: "";
    top: 50%;
    right: 0;
    transform: translate(100%, -50%);
    width: 500px;
    height: 7px;
    background: rgb(247, 151, 9);
    background: white;
}
.money__items:nth-child(n+2) .money__item::before {
    background: white;
    height: 9px;
}
@media (max-width: 600px) {
    .money__item::before {
        top: 1px;
        left: 50%;
        transform: translate(-50%,-100%);
        width: 7px;
        height: 300px;
    }
    .money__items:nth-child(n+2) .money__item::before {
        background: white;
        height: 300px;
    }
    .money__items:nth-child(4) .money__item::after {
        bottom: -1px;
        right: 50%;
        transform: translate(50%,5%);
        width: 7px;
        height: 300px;
    }
}
.money__button-wrapper {
    text-align: center;
}
.money__texts {
    display: flex;
    justify-content: space-around;
    
}
.money__text {
    font-size: 18px;
    font-weight: 300;
    max-width: 248px;
    color: #45515F;
    text-align: center;
    
}
@media (max-width: 600px) {
    .money__text {
        text-align: left;
    }
}
///////////////////////////////////////// ways //////////////////////////////////////
.ways {
    padding: 55px 0px 46px;
    background: rgba(255, 255, 255, 0.95);
}
.ways__container {
    max-width: 840px;
    max-width: 868px;
    padding: 0 14px;
    margin: 0 auto;
}
.ways__title {
    margin-bottom: 14px;
}
.ways__text {
    font-size: 13px;
    font-weight: 300;
    line-height: 1.455;
    text-align: center;
    margin-bottom: 44px;
}
.ways__images {
    display: flex;
    justify-content: center;
    margin-bottom: 31px;
}
@media (max-width: 767px) {
    .ways__images {
        flex-wrap: wrap;
    }
}
.ways__image {
    display: inline-flex;
    // flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 17px;
    background: #F6F9FC;
    width: 140px;
    height: 133px;
}
@media (max-width: 992px) {
    .ways__image {
        height: 121px;
    }
}
@media (max-width: 767px) {
    .ways__image {
        max-width: calc((100% - 102px) / 3);
        width: 100%;
        height: 20vw;
    }
}
.ways__button-wrapper {
    text-align: center;
}
///////////////////////////////////////////// why ///////////////////////////////////////////
.why {
    padding: 65px 0 38px;
}
.why__title {
    margin-bottom: 43px;
}
.why__cards {
    display: flex;
    justify-content: center;
    margin: 0px -14px 35px -14px;
}
.why__card {
    flex: 1 1 33.333%;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 4px 44px rgba(84, 104, 123, 0.05);
    border-radius: 20px;
    padding: 51px 43px 47px 44px;
    margin: 0px 14px;
    max-width: 408px;
}
@media (max-width: 1000px) {
    .why__card {
        flex: 1 1 50%;
        padding: 51px 29px 47px 27px;
        max-width: 377px;
    }
    .why__card:nth-child(3) {
        display: none;
    }
}
@media (max-width: 667px) {
    .why__card {
        flex: 1 1 50%;
        padding: 31px 23px 41px 16px;
        max-width: 360px;
    }
    .why__card:nth-child(2n) {
        display: none;
    }
}
.why__card-image {
    margin-bottom: 26px;
}
.card__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.166;
    color: #45515F;
    margin-bottom: 19px;
}
.card__subtitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 17px;
    color: #93A0AB;
}
.card__subtitle img {
    margin-right: 8px;
}
.card__text {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.187;
    margin-bottom: 27px;
    color: #536473;
    max-width: 321px;
}
.why__button-wrapper {
    text-align: center;
}
@media (max-width: 667px) {
    .why__button-wrapper {
        max-width: 300px;
        margin: 0 auto;
    }
    .why__button {
        margin-bottom: 13px;
    }
}
.why__button-reviews {
    border: 1px solid #C9D2DD;
    background: transparent;
    color: #45515F;
    margin-left: 10px;
}
@media (max-width: 667px) {
    .why__button-reviews {
        margin-left: 0px;
    }
}
/////////////////////////////////////////// clients ////////////////////////////////////////
.clients {
    padding: 57px 0px 59px;
    background: url('@img/clients/background_clients.png') no-repeat 50% 50%;
}
@media (max-width: 1225px) {
    .clients {
        background: url('@img/clients/background_clients.png') no-repeat 30% 50%;
    }
}
@media (max-width: 710px) {
    .clients {
        background: url('@img/clients/background_clients.png') no-repeat 22% 50%;
    }
}
.clients__title {
    color: white;
    margin-bottom: 37px;
}
.clients__items {
    display: flex;
    justify-content: center;
    margin: 0 -13.5px
}
.clients__item {
    display: flex;
    align-items: center;
    flex: 1 1 33.333%;
    max-width: 408px;
    margin: 0 13.5px;
    padding: 26px 31px;
    border-radius: 22px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 4px 44px rgba(84, 104, 123, 0.05);
}
@media (max-width: 1230px) {
    .clients__item {
    flex: 1 1 50%;
   }
}
@media (max-width: 710px) {
    .clients__item {
    flex: 1 1 100%;
   }
}
@media (max-width: 1230px) {
    .clients__item:nth-child(3n) {
        display: none;
    }
}

@media (max-width: 710px) {
    .clients__item:nth-child(2n) {
        display: none;
    }
}
.clients__item-image {
}
.clients__item-img {
    margin-right: 24px;
}
.clients__item-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.187;
    color: #45515F;
    margin-bottom: 6px;
}
.clients__item-text {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.187;
    margin-bottom: 8px;
}
.clients__item-text:last-child {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2;
    color: #93A0AB;
}
.item-text__img {
    margin-right: 8px;
}